.container{
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 1rem;

  text-align: center;

  width: 100%;
  height: 100%;

  padding-bottom: 70px;

  animation: show .9s forwards;

  font-family: -apple-system,BlinkMacSystemFont,Inter,Segoe UI,Roboto,Helvetica,Arial,sans-serif,Apple Color Emoji,Segoe UI Emoji,Segoe UI Symbol;
}

.container span{
  display: flex;
  align-items: center;
  justify-content: center;
}

.title{
  font-size: 90px;
  font-weight: 700;
  color: #2662d9;

  background: linear-gradient(225.13deg, #2662d9 1.83%, #fff 90.04%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  background-clip: text;
}

.description{
  font-size: 20px;
  opacity: 0.7;
  max-width: 1000px;
  line-height: 24.2px;
}

.container img{
  width: 120px;
}

@keyframes show {
  0%{
      opacity: 0;
  }
  100%{
      opacity: 1;
  }
}

@media (max-width: 777px){
  .title{
    font-size: 50px;
  }
  .description{
    font-size: 18px;
  }
  .container img{
    width: 50px;
  }
}

@media (max-width: 420px){
  .title{
    font-size: 40px;
  }
  .description{
    font-size: 16px;
  }
  .container img{
    width: 40px;
  }
}

@media (max-width: 340px){
  .title{
    font-size: 30px;
  }
  .description{
    font-size: 14px;
  }
  .container img{
    width: 30px;
  }
}